<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL.
4. Java.
5. Julia.
6. Scala.
7. C/C++.
8. JavaScript.

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. Numpy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.
9. Scrapy.
10. BeautifulSoup.
11. LightGBM.
12. ELI5.
13. Theano.
14. NuPIC.
15. Ramp.
16. Pipenv.
17. Bob.
18. PyBrain.
19. Caffe2.
20. Chainer.

Data Science Tools:
|Data Science Tools | 
|-----|
|SAS   |
|Apache Spark |
|BigML |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# Arithmetic operations
code = compile("5 + 3", "<string>", "eval")
eval(code)
# Result: 8

8

In [4]:
code1 = compile("(6 + 4) * 3", "<string>", "eval")
eval(code1)
# Result: 30

30

In [5]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

This a simple arithmetic expression to mutiply then add integers

In [6]:
(5*2)+7
# Result: 17

17

This will convert 200 minutes to hours by diving by 60

In [7]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

## Author:
Damala Susanth